/* CSS declarations go here */

body {
  background: url('blue_dark.jpg');
}

.table {
  width: 100%;
  position: relative;
  background: #fff;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

h3{
  text-align: center;
  color: #ffffff;
}

.content {
  /*padding: 10px;*/
}

/* CSS declarations go here */
